matplotlib
plotly
langchain-community
langchainhub
bs4
langchain_core
huggingface_hub
networkx
protobuf==3.20.0
langchain-huggingface
pysqlite3-binary 
langchain
faiss-cpu
scipy
seaborn
langchain-ai21
setuptools==65.5.0
streamlit==1.25.0
pandas>=1.3.0
numpy==1.23.0
wheel==0.41.0

