streamlit
matplotlib
pandas
numpy
plotly
langchain-community
langchainhub
bs4
langchain_core
numpy==1.23.0
huggingface_hub
networkx
protobuf==3.20.0
langchain-huggingface
pysqlite3-binary 
langchain
faiss-cpu
scipy
seaborn
langchain-ai21
mplcursors
setuptools
