streamlit
matplotlib
pandas
numpy
openpyxl
plotly
langchain-community
langchainhub
langchain-chroma
bs4
langchain_mistralai
langchain_core
numpy==1.23.0
huggingface_hub
networkx
protobuf==3.20.0
langchain-huggingface
python-dotenv
pysqlite3-binary 
langchain
faiss-cpu

